@import './materialize';

.login {
    .card {
        width: 70%;
        margin: 20px auto;
    }

    .card-action {
        text-align: right;
    }

    input:invalid {
        @extend .invalid;
    }
}